.nav>.nav-link{
    color: black;
}

.left-col{
    position: relative;
}

.menu{
    position: absolute;
    right: 10px;
    top: 10px;
}

.list-group-item>.img-rec{
    width: 30px;
    height: 30px;
}

div>.list-group-item{
    font-size: small;
    position: relative;
    text-align: left;
    margin: 0;
    border: 0px;
    padding: 7px 2px;
}

.list-group-item>.rec_buttons{
    padding: 3px 6px;
    font-size: smaller;
    position: absolute;
    right: 5px;
}
